<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">MeLAB Design</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#clients">Clients</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">A Fintech Startup</div>
                <div class="intro-heading">Welcome to MeLAB</div>
                <a href="#about" class="page-scroll btn btn-xl">Learn More</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="section-heading">4 Founders, 1 Main Goal </h2>
                </div>
                <div class="col-md-6">
                    <p class="p-about">MeLAB main goal is to create a Nem Blockchain based banking and social apps that will bring mobile banking, businesses and freelance services to an audience of 300 Million people in ASEAN, who currently dont have access to banking services, online marketing and jobs. </p>
                    <!-- <p class="span-about">Morbi malesuada tincidunt fermentum.</p> -->
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">MeLAB Business</h2>
                    <h3 class="section-subheading text-muted">We are a Fintech company that have specialise in 3 key business </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("01.jpg", class: "img-responsive") %>
                    </a>
                    <div class="portfolio-caption">
                        <h4><%= link_to "MePAY" , "http://mepay.gq", target: :_blank %></h4>
                        <p class="text-muted">Innovative Solution for traditional Bussiness to go online</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("02.jpg", class: "img-responsive") %>
                    </a>
                    <div class="portfolio-caption">
                        <h4><%= link_to "MeLAB Design" , "http://mepay.gq", target: :_blank %></h4>
                        <p class="text-muted">Mobile & Website Design. This department is teaming up with MePAY to offer more flexible and customise features to different group of organisation</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("03.jpg", class: "img-responsive") %>
                    </a>
                    <div class="portfolio-caption">
                        <h4>MeWallet</h4>
                        <p class="text-muted">A e-Wallet that uses blockchain and cryptocurrency as teh backbone for security, remittance and payment. (coming soon)</p>
                    </div>
                </div>
               <!--  <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("04.jpg", class: "img-responsive") %>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Corporate A</h4>
                        <p class="text-muted">Brand Indentity</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("05.jpg", class: "img-responsive") %>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Corporate B</h4>
                        <p class="text-muted">Street Billboard</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("06.jpg", class: "img-responsive") %>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Dreams</h4>
                        <p class="text-muted">Product Identity</p>
                    </div>
                </div> -->
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services through Technology</h2>
                    <h3 class="section-subheading text-muted">Helping Micro Entreprise and SME to become online business<br>Providing Cheaper and Secure Alternative to foreign workers to send and receive money<br>To help users who are in Financial Distress and assist them out of poverty.</h3>
                </div>
            </div>
            <div class="row top-margin-md">
                <div class="col-md-6">
                    <a href="https://dribbble.com/shots/819957-Imac-psd"><%= image_tag("07.png", class: "img-responsive") %></a>
                </div>
                <div class="col-md-6">
                    <p class="before-header top-margin-lg">incredible web app</p>
                    <h2 class="section-heading">website & mobile ready</h2>
                    <h3 class="section-subheading text-muted bottom-margin-sm">The pervasive nature of portable devices make mobile web design a necessity. Our team of usabilty experts, graphic designers, and veteran front-end professionals will make sure your website looks and works great — no matter the screen size or resolution.</h3>
                    <a href="http://mepay.gq" target= "_blank" class="btn btn-xl">Learn More</a>
                </div>
            </div>

            <div class="row top-margin-lg hidden-sm hidden-xs">
                <div class="col-md-6">
                    <p class="before-header top-margin-lg">can't find reliable tech partner? dont worry</p>
                    <h2 class="section-heading">Startup Partner</h2>
                    <h3 class="section-subheading text-muted bottom-margin-sm">Want to take the industry by storm? If so, we are your reliable tech partner with a wealth of experience in helping startups. Our engagement model and low-risk approach will help reduce time to market, optimize your budget, and ensure 100% IPR protection of your code.</h3>
                    <a href="http://mepay.gq" target= "_blank" class="btn btn-xl">Learn More</a>
                </div>
                <div class="col-md-6">
                    <a href="https://dribbble.com/shots/1317713-iPad-Air-Template"><%= image_tag("08.png", class: "img-responsive") %></a>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <!-- <section id="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Clients</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis,<br> quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</h3>
                </div>
            </div>

             <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="http://cgi.tutsplus.com/">
                        <img src="img/logos/aetuts.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="http://designmodo.com/">
                        <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://wordpress.org/">
                        <img src="img/logos/wordpress.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://creativemarket.com">
                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section> -->

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted bottom-margin-sm">Office Address: B1-1-W9, Jalan Sri Ehsan 15, Pusat Perniagaan Sri Ehsan, Kuala Lumpur Malaysia </h3>
                    <a target="_blank" href="mailto:contact@creative.com" class="btn btn-xl">admin@melab.biz</a>
                </div>
            </div>
           
        
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright MeLAB Design 2017</span>
                </div>
                <div class="col-md-4">
                </div>
<!--                 <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="http://templune.com/plantilla-de-bootstrap-gratis.html">Credits and Resources</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
 <!--    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body"> -->
                                <!-- Project Details Go Here -->
                               <!--  <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/01x.jpg" alt="">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <p><strong>You can download this PSD Mockup template in this portfolio sample item at</strong> <a target="_blank" href="https://www.behance.net/gallery/37627001/iPhone-6s-Space-Gray-mockups-FREEBIE">Mockup</a></p>
                                <ul class="list-inline">
                                    <li>Date: July 2016</li>
                                    <li><b>Author:</b> <a target="_blank" href="http://360mockups.com/">360 Mockups</a></li>
                                    <li>Category: Graphic Design</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Portfolio Modal 2 -->
  <!--   <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Project Heading</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/02x.jpg" alt="">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                               <p><strong>You can download this PSD Mockup template in this portfolio sample item at</strong> <a target="_blank" href="http://freebiesbug.com/psd-freebies/app-showcase-mockup-psd/">Mockup</a></p>
                               <ul class="list-inline">
                                    <li>Date: July 2016</li>
                                    <li><b>Author:</b> <a target="_blank" href="https://dribbble.com/ikima">Vitaly</a></li>
                                    <li>Category: Graphic Design</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Portfolio Modal 3 -->
<!--     <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body"> -->
                                <!-- Project Details Go Here -->
                           <!--      <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/03x.jpg" alt="">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <p><strong>You can download this PSD Mockup template in this portfolio sample item at</strong> <a target="_blank" href="https://creativemarket.com/muwa_one/707383-Workspace-Mockup-Set-5">Mockup</a></p>
                                 <ul class="list-inline">
                                    <li>Date: July 2016</li>
                                    <li><b>Author:</b> <a target="_blank" href="https://creativemarket.com/muwa_one">Best Pixels</a></li>
                                    <li>Category: Graphic Design</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 -->
    <!-- Portfolio Modal 4 -->
 <!--    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body"> -->
                                <!-- Project Details Go Here -->
                               <!--  <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/04x.jpg" alt="">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <p><strong>You can download this PSD Mockup template in this portfolio sample item at</strong> <a target="_blank" href="https://dribbble.com/shots/1998349-Ceramic-Bottle-Mockup-Free-PSD">Mockup</a></p>
                                 <ul class="list-inline">
                                    <li>Date: July 2016</li>
                                    <li><b>Author:</b> <a target="_blank" href="http://graphicburger.com/">Raul Taciu</a></li>
                                    <li>Category: Graphic Design</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 -->
    <!-- Portfolio Modal 5 -->
<!--     <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                               <!--  <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/05x.jpg" alt="">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <p><strong>You can download this PSD Mockup template in this portfolio sample item at</strong> <a target="_blank" href="http://graphicburger.com/street-billboard-psd-mockup-2/">Mockup</a></p>
                                 <ul class="list-inline">
                                    <li>Date: July 2016</li>
                                    <li><b>Author:</b> <a target="_blank" href="http://graphicburger.com/">Graphic Burger</a></li>
                                    <li>Category: Graphic Design</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
  <!--   </div>
 -->
    <!-- Portfolio Modal 6 -->
<!--     <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body"> -->
                                <!-- Project Details Go Here -->
                               <!--  <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/06x.jpg" alt="">
                               <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <p><strong>You can download this PSD Mockup template in this portfolio sample item at</strong> <a target="_blank" href="http://graphicburger.com/paper-pouch-packaging-mockup/">Mockup</a></p>
                                 <ul class="list-inline">
                                    <li>Date: July 2016</li>
                                    <li><b>Author:</b> <a target="_blank" href="http://graphicburger.com/">Graphic Burger</a></li>
                                    <li>Category: Graphic Design</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

</body>
<% if user_signed_in? %>
 
  <%= link_to('Edit registration', edit_user_registration_path) %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
 
<% else %>
 
  <%= link_to('Register', new_user_registration_path)  %>
  <%= link_to('Login', new_user_session_path)  %>  
 
<% end %>